@charset "utf-8";
/* CSS Document */
body{
        font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    }
	#brandpic {
		margin-top: 10px;
	}
	#avatar {
		height: 20px;
		width: 20px;
	}
	.nav>li>a {
		border-radius: 0px;
	}
	.nav-pills {
		background-color: #424f63;
	}
	a:focus, a:active, a:hover {
		outline: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		color: #353F4F;
	}
	.custom-nav {
    	margin-bottom: 10px;
	}
	.custom-nav > li > a {
		color: #fff;
		padding: 12px 20px;
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	.custom-nav > li > a:hover,
	.custom-nav > li > a:active {
		background-color: #353f4f;
		color: #65cea7;
		border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	.custom-nav > li.menu-list > a {
		background: transparent url(../img/plus-white.png) no-repeat 93% center;
	}
	
	.custom-nav > li.menu-list > a:hover {
		background-color: #353f4f;
		background-image: url(../img/plus.png);
	}
	.custom-nav > li.nav-active > a {
		background-color: #353f4f;
		background-image: url(../img/minus.png);
		color: #65cea7;
    }

	.custom-nav > li.nav-active > ul{
		display: block;
	}
	
	.custom-nav > li.nav-active > a:hover {
		background-image: url(../img/minus.png);
	}
	.custom-nav > li.active > a,
	.custom-nav > li.active > a:hover,
	.custom-nav > li.active > a:focus {
		background-color: #353f4f;
		color: #65cea7;
	}
	.custom-nav > li.menu-list.active > a {
 	    background-image: url(../img/plus.png)
    }

	.custom-nav > li.nav-active.active > a {
		background-image: url(../img/minus.png);
	}
	
	.custom-nav > li.nav-active.active > a:hover {
		background-image: url(../img/minus.png);
	}
	.custom-nav .sub-menu-list {
		list-style: none;
		display: none;
		margin: 0;
		padding: 0;
		background: #353f4f;
 	}

	.custom-nav .sub-menu-list > li > a {
		color: #fff;
		font-size: 13px;
		display: block;
		padding: 10px 5px 10px 50px;
		-moz-transition: all 0.2s ease-out 0s;
		-webkit-transition: all 0.2s ease-out 0s;
		transition: all 0.2s ease-out 0s;
	}
	
	.custom-nav .sub-menu-list > li > a:hover,
	.custom-nav .sub-menu-list > li > a:active,
	.custom-nav .sub-menu-list > li > a:focus {
		text-decoration: none;
		color: #65cea7;
		background: #2a323f;
	}
	.custom-nav .sub-menu-list > li.active > a {
		color: #65CEA7;
		background-color: #2A323F;
	}
	
	.custom-nav .sub-menu-list ul {
		margin-left: 12px;
		border: 0;
	}
	
	.custom-nav .menu-list.active ul {
		display: block;
	}
	.navbar-right>li>a {
		cursor: pointer;
	}
