#login_container .mask {
    background:none repeat scroll 0 0 #000;
    height:100%;
    left:0;
    opacity:0.4;
    position:absolute;
    top:0;
    width:100%;
    z-index:998;
    display:none;
}
#login_container .loginPanel {
    border: none;
    margin:0 auto;
    padding:17px 0 0;
    text-align:center;
    position:static;
 }
#login_container .loginPanel .title {
    border-radius: 4px 4px 0 0;
    font-size: 32px;
    line-height: 50px;
    margin: 0 auto 10px;
    text-indent: -9999px;
    text-shadow: 0 2px 0 #333;
    height: 78px;
    width: 60px;
}
#login_container .loginPanel .logoTitle {
    	background: url(../img/logo_login.png) no-repeat scroll 0px 32px transparent;
	}
#login_container .loginPanel .enlogoTitle {
    	background: url(../img/logo_login.png) no-repeat scroll 0px 32px transparent;
		width: 108px;
	}
#login_container .loginPanel .panelContent {
    padding:50px;
}
#login_container .loginPanel .panelContent .qrcodeContent{
    height:310px;
}
#login_container .loginPanel .normlDesc {
    color:#B4B7BC;
    display:inline-block;
    font-size:16px;
    line-height:48px;
    margin-top:21px;
}
#login_container .loginPanel .loginTip {
    background:url(../img/bg_login_scan_middle.png) repeat-x scroll 0 0 transparent;

    font-size:12px;
    height:48px;
    margin:10px auto;
    width:230px;
}
#login_container .loginPanel .loginTipL {
    background:url(../img/bg_login_scan_left.png) no-repeat scroll 0 0 transparent;
    display:block;
    float:left;
    height:48px;
    margin-left:-26px;
    width:26px;
}
#login_container .loginPanel .loginTipR {
    background:url(../img/bg_login_scan_right.png) no-repeat scroll 0 0 transparent;
    display:block;
    float:right;
    height:48px;
    margin-right:-26px;
    width:26px;
}
#login_container .guide{
	position:absolute;
	top:50px;
	filter:alpha(opacity=50);
	margin:18px auto 0px;
	display: none;
}
.btline {
	display:block;
	margin:50px auto;
}
html,
body,
h1,
p {
  margin: 0;
}
html,
body {
  height: 100%;
  min-height: 755px;
  background: #4e5359 url(../img/bg_universal.png) repeat 0 0;
  color: #666;
  font: 14px/1.5 Helvetica, "微软雅黑", "黑体", Arial, Tahoma;
  text-align: center;
  overflow-y: auto;
}
/*登录页*/
.loginPanel {
  position: absolute;
  left: 400px;
  width: 500px;
  height: 380px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}
.loginPanel .info {
  margin: 20px 0 0;
}
/*footer*/
.footer {
  color: #242627;
  text-shadow: 0 1px 0 #5B5C5E;
  width: 376px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -188px;
}
